body{
  display: flex;
	height:100vh;
	width:100%;
  justify-content:center;
  align-items: center;
  background-color:#F9F9FA;
}

p{
 -webkit-font-smoothing: antialiased !important;
 text-rendering: optimizeLegibility !important;
 font-family:'nutanix_softmedium',"proxima-nova-soft", san-serif;
 line-height:8px;
 font-size: 12px;
 color: #6F787E;
}
.one {
  height: 286px;
  width:300px;
  background-color:white;
  border-radius:4px;
  border:1px #DBDFE1 solid;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .02), 0 4px 8px 0 rgba(0, 0, 0, .1);

}

/** header **/

.header{
	padding: 11px 10px 11px 10px;
  width:280px;
  background-color:white;
  border-radius:4px 4px 0px 0px;
  border-bottom: 1px #DBDFE1 solid;

}
.header p{
	margin:0px;
	}

.beta{
	display:none;
}

/** main panel **/

.title2{
display:none;}

.main{
  display:flex;
  height:48px;
  padding:1px;
  border-bottom: 1px #F3F4F6 solid;
}
.main p{
  flex-grow:1;
  text-align:center;
	align-self: center;
	line-height:48px;
  font-size:24px;
  color: #CC6164;
  font-family:'nutanix_softthin',"proxima-nova-soft", san-serif;
}
.main p:hover {
  color:#C25659;
	cursor: pointer;
}

#coco{
	transform: rotate(-90deg);
}
#coca{
  transform: rotate(90deg);
}

.button svg{
  align-self: center;
  flex-grow: 1;
}
.button {
 display:flex;
 height:48px;
 width:30px;
 border-radius:4px;
}
.button:hover {
  background-color:#F3F4F5;
  fill: #3F4142;
  cursor:pointer;
}
.button:active{
  background-color:#F9F9FA;
}

/** cells **/

#badge {
  width:70px;
  margin-right:10px;
  background-image: url(https://rm-content.s3.amazonaws.com/577b3c157e894ab367989cd4/564724/upload-ad4b3360-e924-11e6-98b8-4fe42806b189.png);
 background-size: 100%;
 background-position: 50% 50%;
 background-repeat: no-repeat;
}
.cell{
  display: flex;
	border-bottom: 1px #F3F4F6 solid;
}
.cell:hover{
  background-color:#F2FAFE;
  cursor:pointer;
	margin-top:-1px;
	border-top:1px #E6EFF4 solid;
	border-bottom:1px #E6EFF4 solid;

}
.cell:active{
	background-color:#E5F5FD;
  cursor:pointer;
	margin-top:-1px;
	border-top:1px #D8EBF6 solid;
	border-bottom:1px #D8EBF6 solid;


}
.cell:last-child{
  border-bottom:none;
  border-radius:0px 0px 4px 4px ;
}
.cell p{
	margin:0px;
  margin-left: 10px;
	line-height:40px;
  flex-grow: 1;
}
.cell p:last-child {
  text-align:right;
  margin-right:10px;
}
.cell:hover p{
	color:#3F4142;

}
